{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="{% static 'imgs/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Home</title>
</head>
<body>
	<div class="abcd" style="margin: 4%;">
		<h2 style="color: #1C87C9; font-family: 'Times New Roman', Times, serif; font-weight: bold; margin: 20px;">QUERY PORTAL</h2>
	
		
	</div>
	<div class="container" id="container">
	<div class="form-container sign-up-container">
	
		<form action="/register/" method="post">
			{%csrf_token%}
			<h1>Create Account</h1>
			<span>or use your email for registration</span>
			<input type="text" placeholder="username" name="username" required />
			<input type="email" placeholder="Email Id" name="emailid" required />
			<input type="password" placeholder="Password" name="password1" required />
			<input type="password" placeholder="Confirm Password" name="password2" required />
			<button type="submit">Sign Up</button>
			
			<div>
				{% for message in messages %}
	{%if message.tags == 'error' %}	
    <div class="alert alert-danger error-message" style="color: red;">
      <a class="close" href="/" data-dismiss="alert">×</a>
      {{ message }}
    </div>
    {%else%}
    <div class="alert alert-danger error-message" style="color: rgb(6, 235, 33); padding-top: 40px;">
        <a class="close" href="/" data-dismiss="alert">×</a>
        {{ message }}
    </div>  
    {%endif%}
    {% endfor %}

			  </div>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="/login/" method="post" >
			{%csrf_token%}
			<h1 id="up">Sign in</h1>
			
			<input type="email" placeholder="Email" name="emailid" required/>
			<input type="password" placeholder="Password" name="password" required />
			<!-- <a href="#">Forgot your password?</a> -->
			<button type="submit">LOG IN</button>
			<div>
				{% for message in messages %}
				{%if message.tags == 'error' %}	
				<div class="alert alert-danger error-message" style="color: red;">
				  <a class="close" href="/" data-dismiss="alert">×</a>
				  {{ message }}
				</div>
				{%else%}
				<div class="alert alert-danger error-message" style="color: rgb(6, 235, 33);">
					<a class="close" href="/" data-dismiss="alert">×</a>
					{{ message }}
				</div>  
				{%endif%}
				{% endfor %}
			
			  </div>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1 class="heading">Welcome Back!</h1>
				<p>Login to Solve your Issue ASAP!</p>
				<button class="ghost heading" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1 class="heading">Solved Your Issue?</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost heading" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

<footer class="footer-distributed">
	<div class="footer-head">

		<div class="footer-cont"><h4  class="head-4">😎Vishwanath & Vishal 😎 </h4></div>
	</div>
        <!-- <div class="footer-container">
                    <div class="footer-content">
                         <a id="ft" href="https://github.com/karthickeyan03" class="centre">
                        <img src="{% static 'imgs/karthik.png' %}" alt="footer logo"  class="centre">
                        <p>Karthickeyan M</p>
                        </a>  
                    </div>
                    <div class="footer-content">
                        <a href="https://github.com/vishwanath-29" target="_blank" class="centre">
                        <img src="{% static 'imgs/vishwaa.png' %}" alt="footer logo"  class="centre">
                        <p>Vishwanath N</p>
                        </a>
                    </div>
                    <div class="footer-content">
                        <a href="https://github.com/gkvishal7" target="_blank" class="centre"> <img src="{% static 'imgs/question.png' %}" alt="footer logo" class="centre"><p>Vishal GK</p></a>
                        
                    </div>
        </div> -->
    </div>
</footer>
<script src="{% static 'js/home.js' %}"></script>
    
</body>
</html>