{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Home</title>
</head>
<body>
    <h2 style="color: #1C87C9; font-family: 'Times New Roman', Times, serif; font-weight: bold;">QUERY PORTAL</h2>
<div class="container" id="container">
	<div class="form-container sign-up-container">
	
		<form action="/register/" method="post">
			{%csrf_token%}
			<h1>Create Account</h1>
			<span>or use your email for registration</span>
			<input type="text" placeholder="username" name="username" required />
			<input type="email" placeholder="Email Id" name="emailid" required />
			<input type="password" placeholder="Password" name="password1" required />
			<input type="password" placeholder="Confirm Password" name="password2" required />
			<button type="submit">Sign Up</button>
			
			<div>
				{% for message in messages %}
		
				<div class="alert alert-danger error-message" style="color: red;">
				  <a class="close" href="/" data-dismiss="alert">×</a>
				  {{ message }}
				</div>
		
				{% endfor %}
			  </div>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="/login/" method="post" >
			{%csrf_token%}
			<h1>Sign in</h1>
			
			<input type="email" placeholder="Email" name="emailid" required/>
			<input type="password" placeholder="Password" name="password" required />
			<!-- <a href="#">Forgot your password?</a> -->
			<button type="submit">LOG IN</button>
			<div>
				{% for message in messages %}
		
				<div class="alert alert-danger error-message" style="color: red;">
				  <a class="close" href="/" data-dismiss="alert">×</a>
				  {{ message }}
				</div>
		
				{% endfor %}
			  </div>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>Login to Solve your Issue ASAP!</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Solved Your Issue?</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

<footer class="footer-distributed">
    <h3>Contact Us </h3>
        <div class="footer-container">
                    <div class="footer-content">
                        <a id="ft" href="https://github.com/karthickeyan03" class="centre">
                        <img src="{% static 'imgs/karthik.png' %}" alt="footer logo"  class="centre">
                        <p>Karthickeyan M</p>
                        </a> 
                    </div>
                    <div class="footer-content">
                        <a href="https://github.com/vishwanath-29" target="_blank" class="centre">
                        <img src="{% static 'imgs/vishwaa.png' %}" alt="footer logo"  class="centre">
                        <p>Vishwanath N</p>
                        </a>
                    </div>
                    <div class="footer-content">
                        <a href="https://github.com/gkvishal7" target="_blank" class="centre"> <img src="{% static 'imgs/question.png' %}" alt="footer logo" class="centre"></a>
                        <p>Vishal GK</p>
                    </div>
        </div>
    </div>
</footer>
<script src="{% static 'js/home.js' %}"></script>
    
</body>
</html>