{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- <link href="{% static 'https://fonts.googleapis.com/css?family=Lato:100' %}" rel='stylesheet' type='text/css'> -->
    <title>Home</title>
   
</head>
<body>
    
   
    <!-- <div class="container"> -->
        <!-- <nav class="navbar navbar-light navbar-expand " mt-3>
            <div class="container-fluid">
                <i style="font-size: 24px; "class="fa"></i>
                <a class="navbar-brand mx-auto" href="#">
              
                </a>
            </div>
            <div class="navbar-nav justify-content-center ">
                <a class="nav-link text-light h4" href="#home">User</a>
                <a class="nav-link text-light h4" href="#speciality" id="a">Admin</a>
                <a class="nav-link text-light h4" href="#popular">Gallery</a>
                <a class="nav-link text-light h4" href="#gallery">About Us</a>
                
                
            </div>
            <div class="w-100"></div>
        
            </div>
            </div>
        </nav> -->

        <div class="container-fluid">
            <nav class="navbar navbar-inverse">
              <div class="container-fluid">
                <ul class="nav navbar-nav list-style">
                  <li class="list-style"><a id="len1" class="hoverable link" href="#">Home</a></li>
                  <li class="list-style"><a id="len2" class="hoverable link" href="#">Login</a></li>
                  <li class="list-style"><a id="len3" class="hoverable link" href="#">Register</a></li>
                  <li class="list-style"><a id="len4" class="hoverable link" href="#">About Us</a></li>
                </ul>
              </div>
            </nav>
            
          </div>
          
          

   


    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/myscript.js' %}"></script> 
</body>
</html>